In [2]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range("20190902", periods=6)

In [4]:
dates

DatetimeIndex(['2019-09-02', '2019-09-03', '2019-09-04', '2019-09-05',
               '2019-09-06', '2019-09-07'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns  =list("ACBD"))

In [6]:
df

                   A         C         B         D
2019-09-02 -0.939852  0.889709  0.802926 -1.740975
2019-09-03 -0.355871  0.174782  0.849094  2.000613
2019-09-04  0.383038  0.941075 -0.208490  0.695773
2019-09-05 -1.617875 -0.678018 -0.323387  1.705811
2019-09-06 -0.063294 -0.053952  0.509274 -2.082425
2019-09-07 -0.867202  0.084430 -0.122463  0.810862

In [7]:
df.loc[dates[3],"B"]

-0.32338652883104857

In [8]:
df.iloc[3]

A   -1.617875
C   -0.678018
B   -0.323387
D    1.705811
Name: 2019-09-05 00:00:00, dtype: float64

In [9]:
df.iloc[::2]

                   A         C         B         D
2019-09-02 -0.939852  0.889709  0.802926 -1.740975
2019-09-04  0.383038  0.941075 -0.208490  0.695773
2019-09-06 -0.063294 -0.053952  0.509274 -2.082425

In [10]:
df

                   A         C         B         D
2019-09-02 -0.939852  0.889709  0.802926 -1.740975
2019-09-03 -0.355871  0.174782  0.849094  2.000613
2019-09-04  0.383038  0.941075 -0.208490  0.695773
2019-09-05 -1.617875 -0.678018 -0.323387  1.705811
2019-09-06 -0.063294 -0.053952  0.509274 -2.082425
2019-09-07 -0.867202  0.084430 -0.122463  0.810862

In [11]:
df[df.A>0]

                   A         C        B         D
2019-09-04  0.383038  0.941075 -0.20849  0.695773

In [12]:
df[df>0]

                   A         C         B         D
2019-09-02       NaN  0.889709  0.802926       NaN
2019-09-03       NaN  0.174782  0.849094  2.000613
2019-09-04  0.383038  0.941075       NaN  0.695773
2019-09-05       NaN       NaN       NaN  1.705811
2019-09-06       NaN       NaN  0.509274       NaN
2019-09-07       NaN  0.084430       NaN  0.810862

In [13]:
df2 = df.copy()

In [14]:
df2["F"] = ["one","one","three","four","test","einszwo"]

In [15]:
df2

                   A         C         B         D        F
2019-09-02 -0.939852  0.889709  0.802926 -1.740975      one
2019-09-03 -0.355871  0.174782  0.849094  2.000613      one
2019-09-04  0.383038  0.941075 -0.208490  0.695773    three
2019-09-05 -1.617875 -0.678018 -0.323387  1.705811     four
2019-09-06 -0.063294 -0.053952  0.509274 -2.082425     test
2019-09-07 -0.867202  0.084430 -0.122463  0.810862  einszwo

In [16]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range("20190902", periods=6))

In [17]:
s1

2019-09-02    1
2019-09-03    2
2019-09-04    3
2019-09-05    4
2019-09-06    5
2019-09-07    6
Freq: D, dtype: int64

In [18]:
df["F"]=s1

In [19]:
df.at[dates[0],"A"]=0

In [20]:
df

                   A         C         B         D  F
2019-09-02  0.000000  0.889709  0.802926 -1.740975  1
2019-09-03 -0.355871  0.174782  0.849094  2.000613  2
2019-09-04  0.383038  0.941075 -0.208490  0.695773  3
2019-09-05 -1.617875 -0.678018 -0.323387  1.705811  4
2019-09-06 -0.063294 -0.053952  0.509274 -2.082425  5
2019-09-07 -0.867202  0.084430 -0.122463  0.810862  6

In [21]:
df.iat[0,1]=0

In [22]:
df

                   A         C         B         D  F
2019-09-02  0.000000  0.000000  0.802926 -1.740975  1
2019-09-03 -0.355871  0.174782  0.849094  2.000613  2
2019-09-04  0.383038  0.941075 -0.208490  0.695773  3
2019-09-05 -1.617875 -0.678018 -0.323387  1.705811  4
2019-09-06 -0.063294 -0.053952  0.509274 -2.082425  5
2019-09-07 -0.867202  0.084430 -0.122463  0.810862  6

In [23]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [24]:
df

                   A         C         B  D  F
2019-09-02  0.000000  0.000000  0.802926  5  1
2019-09-03 -0.355871  0.174782  0.849094  5  2
2019-09-04  0.383038  0.941075 -0.208490  5  3
2019-09-05 -1.617875 -0.678018 -0.323387  5  4
2019-09-06 -0.063294 -0.053952  0.509274  5  5
2019-09-07 -0.867202  0.084430 -0.122463  5  6

In [25]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns)+["E"])

In [26]:
df1

                   A         C         B  D  F   E
2019-09-02  0.000000  0.000000  0.802926  5  1 NaN
2019-09-03 -0.355871  0.174782  0.849094  5  2 NaN
2019-09-04  0.383038  0.941075 -0.208490  5  3 NaN
2019-09-05 -1.617875 -0.678018 -0.323387  5  4 NaN

In [27]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [28]:
df1

                   A         C         B  D  F    E
2019-09-02  0.000000  0.000000  0.802926  5  1  1.0
2019-09-03 -0.355871  0.174782  0.849094  5  2  1.0
2019-09-04  0.383038  0.941075 -0.208490  5  3  NaN
2019-09-05 -1.617875 -0.678018 -0.323387  5  4  NaN

In [29]:
df1.dropna(how="any")

                   A         C         B  D  F    E
2019-09-02  0.000000  0.000000  0.802926  5  1  1.0
2019-09-03 -0.355871  0.174782  0.849094  5  2  1.0

In [30]:
df1.fillna("hallo")

                   A         C         B  D  F      E
2019-09-02  0.000000  0.000000  0.802926  5  1      1
2019-09-03 -0.355871  0.174782  0.849094  5  2      1
2019-09-04  0.383038  0.941075 -0.208490  5  3  hallo
2019-09-05 -1.617875 -0.678018 -0.323387  5  4  hallo

In [31]:
df1

                   A         C         B  D  F    E
2019-09-02  0.000000  0.000000  0.802926  5  1  1.0
2019-09-03 -0.355871  0.174782  0.849094  5  2  1.0
2019-09-04  0.383038  0.941075 -0.208490  5  3  NaN
2019-09-05 -1.617875 -0.678018 -0.323387  5  4  NaN

In [32]:
pd.isna(df1)

                A      C      B      D      F      E
2019-09-02  False  False  False  False  False  False
2019-09-03  False  False  False  False  False  False
2019-09-04  False  False  False  False  False   True
2019-09-05  False  False  False  False  False   True